.rowmain{
    position: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(82, 129, 185, 0.9);
    border: none;
    background-color: #ffffff;
    display: inline-flex;
    width: 100%;
    padding-left: 1%;
    margin-left: 0%;
}

.imguser{
    border:solid 2px #5281b9;
}


.txt{
    text-decoration: none;
    color:#5281b9;
}


.fa-gift{
    color: #5281b9;
}

.dropdown a:hover {background-color: #ffffff;}

.show {display: block;}

.ikons{
    padding-right: 8px;
}

.deletebtn{
    background-color: #e01a1a;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    border-radius: 7px;
}

.deletebtn:hover{
    background-color: #a80909;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    border-radius: 7px;
    border: 2px solid #e30606;
}
.bnt{
    margin-top: 15px;
}

.name{
    color: #5281b9;
}

.namegroups{
    text-decoration: none;
    background-color: #5281b9;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    -webkit-transition: 0.8s ease;
}
.namegroups:hover{
    text-decoration: none;
    background-color: #5281b9;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 150px;
    transition: all 0.8s ease;

}

.namegroups:before{
    text-decoration: none;
    background-color: #5281b9;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: all 2s ease;
}

.namegroups:hover .first{
    text-decoration: none;
    background-color: #5281b9;
    color: white;
    display: none;

}

.namegroups .second{
    text-decoration: none;
    background-color: #5281b9;
    color: white;
    display: none;

}

.namegroups:hover .second{
    text-decoration: none;
    background-color: #5281b9;
    color: white;
    transition: all 1.5s ease;
    display: inline;


}
