.rowmain{
    position: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(82, 129, 185, 0.9);
    border: none;
    background-color: #ffffff;
    display: inline-flex;
    width: 100%;
    padding-left: 1%;
    margin-left: 0%;
}

.tab {
    overflow: hidden;
    position: center;
    border: 1px solid #5281b9;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 309px;
}

.tab button {
    float: left;
    background-color: white;
    outline: none;
    cursor: pointer;
    border: solid 1px #5281b9;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #5281b9;
}

.tab button:hover {
    background-color: #5281b9;
    color: white;
}

.imguser{
    border:solid 2px #5281b9;
}

.tab button.active {
    background-color: #5281b9;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 60px;
    background-color: #5281b9;
    color: #ffffff;
    font-size: 20px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 25px;
    margin-top: 2px;
}

.dropdown-content {
    display: none;
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    background-color: #ffffff;
    min-width: 170px;
    border-radius: 15px;
    z-index: 1;
    color:#5281b9;
    border: solid 1px #5281b9;
}

.txt{
    text-decoration: none;
    color:#5281b9;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.fa-gift{
    color: #5281b9;
}

.dropdown a:hover {background-color: #ffffff;}

.show {display: block;}

.ikons{
    padding-right: 8px;
}

.ikonsblock{
    padding-right: 10px;
}

.ikonsdel{
    padding-right: 10px;
    padding-left: 2px;
}

.btnok{
    color: #5281b9;
    border: solid 1px #5281b9;
}

.btnok:hover{
    color: #5281b9;
    border: solid 1px #5281b9;
}

.btnno{
    border: solid 1px #5281b9;
}

.fa-check-circle{
    color: #5281b9;
}

.inpserach{
    margin-left: -23px;
}

.btnunder2{
   margin-left: -241px;
}

.btnunder3{
    margin-left: 95px;
}

.nothing{
    color: #5281b9;
}

.name{
    color: #5281b9;
}

