.inputname{
    background-color: white;
    color: #526bb9;
    border: solid 1px #526bb9;
    width:215px;
    height: 30px;
    margin-top: 2px;
    border-radius: 5px;
    margin-top: -10px;
}

.inputname:focus{
    /*border: none !important;*/
    outline: 0 !important;
}

.btnDang{
    background-color: rgb(208, 6, 31);
    border-radius: 10px;
    border: solid 1px rgb(152, 4, 24);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    color: white;
    height: 50px;
    width: 270px;
    margin-top: -10px;
    font-size: 18px;
}

::-webkit-file-upload-button{
    color: #526bb9;
    border-radius: 10px;

}

.inputname[type="text"]:active{
    border: solid 1px #526bb9;
}

.form-text{
    padding-bottom: 12.5px;
    padding-left: 15px;
    padding-top: 12.5px;
    color: white;
    background-color: #526bb9;
    border-radius: 13px;
    margin-bottom: 25px;
    margin-top: 15px;
    border: 2px solid #263e80;
}

.datainfo{
    margin-top: 14.3px;
}
.text-cnter{
    margin-left: 70px;
}
p{
    margin-bottom: -10px;
}

.btn-siniy{
    background-color: #526bb9;
    color: white;
    margin-top: 10px;
    width: 215px;
}
