.slider {
    /*width: 90%;*/
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
/*.slick-slide {*/
/*    margin: 0px 20px;*/
/*}*/
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: #DBDBDB;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: 1;
}